body {
  font-family: 'Roboto Mono',monospace;
  min-height: 400px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-vtHi24KReJznUk62_gEnFfZ1MR_pfMwP0A&usqp=CAU');
  background-color: #000000;
  background-size: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color:#ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color:#ffffff;
  margin-top: 5px;
}